<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Świat Książek</title>
  </head>
  <body>
    <h1>Parę słów o książkach</h1>
    <strong><br><h3>Ludzie, którzy czytają są mądrzejsi</h3></strong>
    <p>
      Co do tego nie ma wątpliwości. W języku funkcjonuje termin „oczytany” co oznacza, że ktoś ma wartościową wiedzę. Osoby, które sięgają po książki mogą poprawić wiele aspektów swojego życia: biznes, relacje, uwodzenie, pedagogika, psychologia i wiele, wiele innych.
      Czytanie sprawia, że człowiek staje się jeszcze bardziej inteligentny. Poszerza swoje horyzonty dzięki czemu na tą samą sprawę potrafi spojrzeć z różnych perspektyw.
    </p>
    <strong><br><h3>Czytanie wzbogaca słownictwo</h3></strong>
    <p>
      Większe słownictwo pomaga w opisywaniu swoich myśli czy uczuć. Ludziom często zdarza się, że coś chcą powiedzieć, ale nie wiedzą jak to ubrać w słowa. Mimo, że czytam bardzo dużo czasami również mnie się to zdarza. Mam tego świadomość i cały czas nad tym pracuję.

      Mając bogatsze słownictwo lepiej się komunikujesz i lepiej przekazujesz swoje myśli. Niczym poeta masz dostęp do zasobu metafor i porównań, a to jest niezwykle przydatne.
    </p>
    <strong><br><h3>Czytanie poprawia pamięć i wyobraźnię</h3></strong>
    <p>
      Nowe informacje to doskonała stymulacja dla mózgu. Czytając tworzysz filmy i obrazy, łączysz nową wiedzę z tym co już znane. Dzięki temu Twoje neurony są nieustannie przecierane i zmuszane do wysiłku podobnie jak mięśnie kulturysty. Jeżeli masz taką możliwość obserwuj osoby w podeszłym wieku. Dostrzeżesz znaczne różnice w kondycji mózgu między tymi, którzy spędzają czas na oglądaniu seriali a tymi, którzy czytają książki.

      Osoby, które czytają książki niejako zmuszone są do tworzenia obrazów w swojej głowie. Dzięki temu później tworzą lepsze wizualizacje, które są szalenie przydatne przy nauce.
    </p>
  </body>
</html>