<% provide(:title, 'Contact') %>
<h1>SKONTAKTUJ SIE Z NAMI</h1>
<address>
  <strong><br>Anna Kowalska</strong>
  <strong><br>tel. 695825623</strong>
  <br><a href="http://www.swiatksiazki.pl/skontaktuj-sie-z-nami/">contact page</a>.
</address>