<% provide(:title, "Help") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | BOOKS</title>
  </head>
  <body>
    <h1>Help</h1>
    <p>
      <a href="http://www.swiatksiazki.pl/pomoc/koszty-wysylki/">Books help
      section</a>.
      
    </p>
  </body>
</html>